apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-fpm
  labels:
    app: {{ .Release.Name }}-fpm
spec:
  replicas: {{ .Values.mediawiki.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-fpm
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-fpm
    spec:
      securityContext:
        fsGroup: 33 # www-data
      containers:
      - name: php-fpm
        image: "{{ .Values.mediawiki.image.repository }}:{{ .Values.mediawiki.image.tag }}"
        imagePullPolicy: {{ .Values.mediawiki.image.pullPolicy }}
        resources:
          requests:
            cpu: {{ .Values.mediawiki.resources.requests.cpu }}
            memory: {{ .Values.mediawiki.resources.requests.memory }}
          limits:
            cpu: {{ .Values.mediawiki.resources.limits.cpu }}
            memory: {{ .Values.mediawiki.resources.limits.memory }}
        ports:
        - containerPort: {{ .Values.mediawiki.port }}
        volumeMounts:
        - name: oauth-secrets
          mountPath: /var/oauth
          readOnly: true
        env:
        - name: WIKIBASE_SCHEME
          value: "{{ .Values.mediawiki.scheme }}"
        - name: WIKIBASE_HOST
          value: "{{ .Values.global.baseDomain }}"
        - name: WIKIBASE_PORT
          value: "{{ .Values.apache.port }}"
        - name: DB_SERVER
          value: "{{ .Values.mediawiki.db_server }}"
        - name: DB_NAME
          value: "{{ .Values.mediawiki.db_name }}"
        - name: DB_USER
          value: "{{ .Values.mediawiki.db_user }}"
        - name: DB_PRIMARY_IP
          value: "{{ .Values.mediawiki.db_primary }}"
        - name: DB_SECONDARY_IP
          value: "{{ .Values.mediawiki.db_secondary }}"
        - name: MW_ELASTIC_HOST
          value: "{{ .Values.mediawiki.elasticsearch_host }}"
        - name: MW_ELASTIC_PORT
          value: "{{ .Values.mediawiki.elasticsearch_port }}"
        - name: MW_REDIS_HOST
          value: "{{ .Values.mediawiki.redis_host }}"
        - name: MW_REDIS_PORT
          value: "{{ .Values.mediawiki.redis_port }}"
        - name: MW_MEMCACHED_HOST
          value: "{{ .Values.mediawiki.memcached_host }}"
        - name: MW_MEMCACHED_PORT
          value: "{{ .Values.mediawiki.memcached_port }}"
        - name: MW_LATEXML_HOST
          value: "{{ .Values.mediawiki.latexml_host }}"
        - name: MW_LATEXML_PORT
          value: "{{ .Values.mediawiki.latexml_port }}"
        - name: MW_FORMULASEARCH_HOST
          value: "{{ .Values.mediawiki.formulasearch_host }}"
        - name: MW_FORMULASEARCH_PORT
          value: "{{ .Values.mediawiki.formulasearch_port }}"
        - name: USE_CDN
          value: "{{ .Values.varnish.enabled }}"
        - name: CDN_BACKEND_HOST
          value: "{{ .Values.varnish.backendHost }}"
        - name: CDN_SERVER
          value: "{{ .Values.varnish.fullnameOverride }}"
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secrets.mariadb }}
              key: MARIADB_PASSWORD
        envFrom:
        - configMapRef:
            name: wikibase-config
        - secretRef:
            name: {{ .Release.Name }}-env-secrets
      volumes:
      - name: oauth-secrets
        secret:
          secretName: {{ .Release.Name }}-oauth-secrets
          items:
          - key: oauth.key
            path: oauth.key
            mode: 0644
          - key: oauth.cert
            path: oauth.cert
            mode: 0660