apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ .Values.global.baseDomain }}`)
      kind: Rule
      {{- if or .Values.blockHeaders.enabled .Values.fail2ban.enabled .Values.crowdsec.enabled}}
      middlewares:
        {{- if .Values.crowdsec.enabled }}
        - name: {{ .Release.Name }}-crowdsec-bouncer
          namespace: {{ .Release.Namespace }}
        {{- end }}
        {{- if .Values.fail2ban.enabled }}
        - name: {{ .Release.Name }}-fail2ban
          namespace: {{ .Release.Namespace }}
        {{- end }}
        {{- if .Values.blockHeaders.enabled }}
        - name: {{ .Release.Name }}-block-fake-agents
          namespace: {{ .Release.Namespace }}
        {{- end }}
      {{- end }}
      services:
        {{- if .Values.varnish.enabled }}
        - name: {{ .Values.varnish.fullnameOverride }}
          namespace: {{ .Release.Namespace }}
          port: 80
        {{- else }}
        - name: {{ .Release.Name }}
          namespace: {{ .Release.Namespace }}
          port: {{ .Values.port }}
        {{- end }}
  tls:
    secretName: {{ .Release.Name }}-tls