{{- if .Values.fail2ban.enabled }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ .Release.Name }}-fail2ban
spec:
  plugin:
    fail2ban:
      denylist:
        ip:
          {{- range .Values.fail2ban.denylist }}
          - {{ . | quote }}
          {{- end }}
      rules:
        enabled: true
        bantime: "1h"
        findtime: "10m"
        maxretry: 5
        statuscode: "401,403,429"
{{- end }}