apiVersion: v1
kind: ConfigMap
metadata:
  name: eventstreams-config
data:
  config.yaml: |
    num_workers: {{ .Values.eventstreams.numWorkers | default 1 }}
    logging:
      level: {{ .Values.eventstreams.loggingLevel | quote }}

    services:
      - name: eventstreams
        module: ./app.js
        conf:
          port: 8092          
          stream_config_uri: /srv/service/stream-config.yaml          
          kafka:
            metadata.broker.list: 'kafka-0.kafka.{{ .Release.Namespace }}.svc.cluster.local:9092'
            group.id: eventstreams-consumer
            api.version.request: true
          allowed_streams:
            - recentchange
            - mediawiki.page_change.v1
            - rdf-streaming-updater.mutation.v2
            - rdf-streaming-updater.lapsed-action
            - rdf-streaming-updater.state-inconsistency
            - rdf-streaming-updater.fetch-failure
            - rdf-streaming-updater.reconcile

  stream-config.yaml: |
    recentchange:
      description: "MediaWiki Recent Changes"
      topics:
        - mediawiki.recentchange
    mediawiki.page_change.v1:
      topics:
        - mediawiki.page_change.v1
    rdf-streaming-updater.mutation.v2:
      topics:
        - rdf-streaming-updater.mutation.v2
    rdf-streaming-updater.lapsed-action:
      topics:
        - rdf-streaming-updater.lapsed-action
    rdf-streaming-updater.state-inconsistency:
      topics:
        - rdf-streaming-updater.state-inconsistency
    rdf-streaming-updater.fetch-failure:
      topics:
        - rdf-streaming-updater.fetch-failure
    rdf-streaming-updater.reconcile:
      topics:
        - rdf-streaming-updater.reconcile