apiVersion: v1
kind: ConfigMap
metadata:
  name: eventstreams-config
data:
  config.yaml: |
    num_workers: {{ .Values.numWorkers | default 1 }}
    logging:
      level: {{ .Values.loggingLevel | quote }}

    services:
      - name: eventstreams
        module: ./app.js
        conf:
          port: 8092          
          stream_config_uri: /srv/service/stream-config.yaml
          stream_config_object_path: 'streams'
          stream_config_ttl: 0
          stream_config_defaults: {}          
          kafka:
            metadata.broker.list: 'kafka-0.kafka.{{ .Release.Namespace }}.svc.cluster.local:9092'
            group.id: eventstreams-consumer
            api.version.request: true
          allowed_streams:
            - recentchange
            - mediawiki.page_change.v1
            - rdf-streaming-updater.mutation.v2
            - rdf-streaming-updater.lapsed-action
            - rdf-streaming-updater.state-inconsistency
            - rdf-streaming-updater.fetch-failure
            - rdf-streaming-updater.reconcile

  stream-config.yaml: |
    streams:
      recentchange:
        description: "MediaWiki Recent Changes"
        topics:
          - mardi.mediawiki.recentchange
      mediawiki.page_change.v1:
        description: "MediaWiki Page Change Events"
        topics:
          - mardi.mediawiki.page_change.v1
      rdf-streaming-updater.mutation.v2:
        description: "RDF Streaming Updater Mutations"
        topics:
          - mardi.rdf-streaming-updater.mutation.v2
      rdf-streaming-updater.lapsed-action:
        description: "RDF Streaming Updater Lapsed Actions"
        topics:
          - mardi.rdf-streaming-updater.lapsed-action
      rdf-streaming-updater.state-inconsistency:
        description: "RDF Streaming Updater State Inconsistency"
        topics:
          - mardi.rdf-streaming-updater.state-inconsistency
      rdf-streaming-updater.fetch-failure:
        description: "RDF Streaming Updater Fetch Failures"
        topics:
          - mardi.rdf-streaming-updater.fetch-failure
      rdf-streaming-updater.reconcile:
        description: "RDF Streaming Updater Reconcile"
        topics:
          - mardi.rdf-streaming-updater.reconcile