image:
  repository: mariadb
  tag: 11.8.2
  pullPolicy: IfNotPresent

port: 3306

replicas: 3  

galera:
  enabled: false
  availableWhenDonor: false
  extendedTimeouts:
    enabled: false
  replicaThreads: 1
  cacheSize: "128M"
  flowControlLimit: 16
  operatorImage:
    repository: docker-registry3.mariadb.com/mariadb-operator/mariadb-operator
    tag: "25.8.1"

database: my_wiki
user: sqluser

mariadb:
  config:
    innodbBufferPoolSize: "10G"
    maxAllowedPacket: "1G"
    maxConnections: "200"

storage:
  size: 1Ti

backup:
  enabled: false
  bucket: ""
  prefix: "mariadb"
  endpoint: ""
  region: "us-east-1"
  schedule: "0 2 * * *"
  storage: 1Gi
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 512Mi

physicalbackup:
  enabled: true
  bucket: ""
  prefix: "physicalbackup/mariadb"
  endpoint: ""
  region: "us-east-1"
  schedule: "0 4 * * *"
  immediate: false

resources:
  requests:
    cpu: 4000m
    memory: 24Gi
  limits:
    cpu: 8000m
    memory: 28Gi

secrets:
  wikibase: wikibase-secrets
  importer: importer-secrets