apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: staging-importer
spec:
  chart:
    spec:
      version: "0.1.11"
  values:
    database:
      host: "staging-mariadb-primary"
    endpoints:
      mediawiki: "http://staging-wikibase/w/api.php"
      wikibase: "http://staging-wikibase"
      sparql: "http://staging-wdqs:9999/sparql"
      importerApi: "http://staging-importer-api"


