apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: staging-importer
spec:
  chart:
    spec:
      version: "0.1.20"
  values:
    database:
      host: "staging-mariadb-primary"
    endpoints:
      mediawiki: "http://staging-wikibase-apache/w/api.php"
      wikibase: "http://staging-wikibase-apache"
      sparql: "http://staging-wdqs:9999/bigdata/namespace/wdq/sparql"
      importerApi: "http://staging-importer-api"
      prefect: "http://prefect-server.production.svc.cluster.local:4200/api"


