apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  rdf-updater.properties: |
    hostname={{ .Values.global.baseDomain }}
    job_name=rdf-streaming-updater
    consumer_group=flink-rdf-updater-group

    kafka_producer_config.bootstrap.servers={{ .Values.config.kafkaBootstrap }}.{{ .Release.Namespace }}.svc.cluster.local:9092
    kafka_producer_config.security.protocol=PLAINTEXT

    kafka_consumer_config.bootstrap.servers={{ .Values.config.kafkaBootstrap }}.{{ .Release.Namespace }}.svc.cluster.local:9092
    kafka_consumer_config.client.dns.lookup=use_all_dns_ips
    kafka_consumer_config.auto.offset.reset=latest
    kafka_consumer_config.request.timeout.ms=120000
    kafka_consumer_config.session.timeout.ms=60000

    brokers={{ .Values.config.kafkaBootstrap }}.{{ .Release.Namespace }}.svc.cluster.local:9092

    use_event_streams_api=true
    page_change_stream={{ .Values.config.inputPageChangeStream }}
    page_change_content_models=wikibase-item,wikibase-property,wikibase-lexeme
    main_output_stream=rdf-streaming-updater.mutation.v2

    output_mutation_schema_version=v2
    output_topic=mardi.rdf-streaming-updater.mutation.v2
    output_topic_partition=0
    topic_prefixes={{ .Values.config.outputTopicPrefix }}
    
    stream_config_uri={{ .Values.config.wikiInternalUrl }}/w/api.php
    schema_repositories={{ .Values.config.schemaBaseUrl }}.{{ .Release.Namespace }}.svc.cluster.local/primary/jsonschema,{{ .Values.config.schemaBaseUrl }}.{{ .Release.Namespace }}.svc.cluster.local/secondary/jsonschema
    http_routes={{ .Values.global.baseDomain }}={{ .Values.config.wikiInternalUrl }}.{{ .Release.Namespace }}.svc.cluster.local
    
    parallelism={{ .Values.flink.parallelism }}

    # --- Wikibase URI & Namespace ---
    uris_scheme=wikidata
    wikibase_repo_url=https://{{ .Values.global.baseDomain }}
    concept_uri_prefix=https://{{ .Values.global.baseDomain }}/entity/
    entity_namespaces=120,122
    entity_data_url={{ .Values.config.wikiInternalUrl }}.{{ .Release.Namespace }}.svc.cluster.local/wiki/Special:EntityData/

    # --- State & Checkpointing ---
    checkpoint_dir=file:///opt/flink/checkpoints
    checkpoint_interval={{ .Values.flink.checkpointInterval }}
    state.backend=rocksdb
    state.checkpoints.dir=file:///opt/flink/checkpoints
    state.backend.incremental=true
    state.checkpoints.num-retained=2
    generate_diff_timeout=300000

  log4j-console.properties: |
    rootLogger.level = INFO
    rootLogger.appenderRef.console.ref = ConsoleAppender

    appender.console.name = ConsoleAppender
    appender.console.type = CONSOLE
    appender.console.layout.type = PatternLayout
    appender.console.layout.pattern = %d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %-60c %x - %m%n

    logger.updater.name = org.wikidata.query.rdf.updater
    logger.updater.level = {{ .Values.flink.logLevel | default "INFO" }}

  flink-conf.yaml: |
    jobmanager.rpc.address: localhost
    taskmanager.numberOfTaskSlots: 1
    jobmanager.memory.process.size: 1024m
    taskmanager.memory.process.size: 2048m
    taskmanager.state.latency_tracking.enabled: true
    web.tmpdir: /opt/flink/checkpoints/web
    state.checkpoints.dir: file:///opt/flink/checkpoints/metadata
    env.java.opts: -Dlog4j.configurationFile=/etc/flink/conf/log4j-console.properties