apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  rdf-updater.properties: |
    hostname={{ .Values.global.baseDomain }}
    job_name=rdf-streaming-updater
    consumer_group=flink-rdf-updater-group

    kafka_producer_config.bootstrap.servers={{ .Values.config.kafkaBootstrap }}
    kafka_consumer_config.bootstrap.servers={{ .Values.config.kafkaBootstrap }}
    kafka_producer_config.security.protocol=PLAINTEXT
    kafka_consumer_config.client.dns.lookup=use_all_dns_ips
    
    page_change_stream={{ .Values.config.inputPageChangeStream }}
    output_mutation_schema_version=v2
    output_topic=rdf-streaming-updater.mutation.v2
    output_topic_partition=0
    topic_prefixes={{ .Values.config.outputTopicPrefix }}
    
    stream_config_uri={{ .Values.config.eventStreamConfigUrl }}
    schema_base_uris={{ .Values.config.schemaBaseUrl }}
    http_routes={{ .Values.global.baseDomain }}={{ .Values.config.wikiInternalUrl }}
    
    parallelism={{ .Values.flink.parallelism }}

    # --- Wikibase URI & Namespace ---
    uris_scheme=mediawiki
    wikibase_repo_url=https://{{ .Values.global.baseDomain }}
    concept_uri_prefix=https://{{ .Values.global.baseDomain }}/entity/
    entity_namespaces=120,122
    entity_data_url={{ .Values.config.wikiInternalUrl }}/wiki/Special:EntityData/

    # --- State & Checkpointing ---
    checkpoint_dir=file:///opt/flink/checkpoints
    checkpoint_interval={{ .Values.flink.checkpointInterval }}
    state.backend=rocksdb
    state.checkpoints.dir=file:///opt/flink/checkpoints
    state.backend.incremental=true
    state.checkpoints.num-retained=2
    generate_diff_timeout=300000