apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: staging-jobrunner
  namespace: staging
spec:
  chart:
    spec:
      version: "0.1.17"
  values:
    image:
      repository: ghcr.io/mardi4nfdi/redis-jobrunner-staging
      tag: latest
    runners:
      basic: 0
      dispChanges: 0
      profiles: 0
      cirrusSearch: 0
    redis:
      host: "staging-redis-master"
    mediawiki:
      db_server: staging-mariadb-primary:3306
    elasticsearch:
      host: staging-opensearch
    resources:
      jobrunner:
        requests:
          cpu: 500m
          memory: 256Mi
        limits:
          cpu: 1000m
          memory: 512Mi
      rescheduler:
        requests:
          cpu: 500m
          memory: 256Mi
        limits:
          cpu: 1000m
          memory: 512Mi      
    secrets:
      mariadb: staging-mariadb-secrets
      wikibase: staging-wikibase-env-secrets