apiVersion: v1
kind: ConfigMap
metadata:
  name: eventgate-config
data:
  config.yaml: |
    num_workers: 1
    logging:
      level: {{ .Values.loggingLevel | quote }}
    services:
      - name: eventgate-wikimedia
        module: eventgate/app.js
        conf:
          port: 8192
          eventgate_factory_module: eventgate-wikimedia.js
          stream_field: meta.stream
          topic_prefix: 'mardi.'
          schema_uri_field: $schema
          schema_base_uris:
            - http://schema-registry/primary/jsonschema
            - http://schema-registry/secondary/jsonschema
          test_mode: {{ .Values.testMode | default false }}
          kafka:
            conf:
              metadata.broker.list: 'kafka-0.kafka.{{ .Release.Namespace }}.svc.cluster.local:9092'
              topic.metadata.refresh.interval.ms: 30000
              compression.codec: snappy
              api.version.request: true