apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wdqs
spec:
  chart:
    spec:
      version: "0.1.18"
  values:
    wdqs:
      storage: 200Gi
      memory: "-Xmx22g -Xms22g"
      heap_size: "22g"
      resources:
        requests:
          cpu: 1000m
          memory: 24Gi
        limits:
          cpu: 4000m
          memory: 28Gi
    updater:
      enabled: true
      resources:
        requests:
          cpu: 200m
          memory: 1Gi
        limits:
          cpu: 1000m
          memory: 2Gi

    frontend:
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          cpu: 500m
          memory: 512Mi

