apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fdo
spec:
  chart:
    spec:
      version: 0.1.1
  values:
    resources:
      requests:
        memory: "128Mi"
        cpu: "200m"
      limits:
        memory: "1Gi"
        cpu: "500m"