apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prefect-worker
spec:
  chart:
    spec:
      version: "2026.1.30002458"
  values:
    worker:
      apiConfig: selfHostedServer
      
      config:
        workPool: "K8WorkerPool"
        type: kubernetes
        jobNamespace: production
        queryInterval: 5
        prefetchSeconds: 10
      
      selfHostedServerApiConfig:
        apiUrl: "http://prefect-server:4200/api"
        
        basicAuth:
          enabled: true
          existingSecret: "prefect-server-auth"
      
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          cpu: 1000m
          memory: 1Gi
      
      replicaCount: 1
      
      livenessProbe:
        enabled: true