apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: crowdsec-bouncer
  namespace: staging
spec:
  plugin:
    crowdsec:
      enabled: true
      logLevel: INFO
      updateIntervalSeconds: 10
      defaultDecisionSeconds: 300
      httpTimeoutSeconds: 10
      crowdsecMode: live
      crowdsecLapiKey: ENC[AES256_GCM,data:bqr9aclCADMUz6/aSSAOjPsWTcOUUc/QBlH7SC8bkyclOjl1vq3i6Rtqxg==,iv:JIjVx7z2J7e3PmQvYKWQ7xlQJlTGccI5RCiNp2cy9PM=,tag:z0+w7EwSVgaVS3xr7/omXg==,type:str]
      crowdsecLapiHost: crowdsec-service.crowdsec.svc.cluster.local:8080
      crowdsecLapiScheme: http
      forwardedHeadersTrustedIPs:
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
      clientTrustedIPs:
        # pods
        - 10.0.0.0/8
        # services
        - 10.96.0.0/12
      #crowdsecAppsecEnabled: true
      #crowdsecAppsecHost: crowdsec-appsec-service.crowdsec.svc.cluster.local:7422
      #crowdsecAppsecFailureBlock: false
      #crowdsecAppsecUnreachableBlock: false
sops:
  lastmodified: "2025-12-09T09:44:10Z"
  mac: ENC[AES256_GCM,data:MtBVqxOLUiw6cFN9ZnEMcNsCdiZaF9OL6V06wS7yq5Fz9XQds6Idsnc9n6IBVHF2jYFWxkeJk4hDHkHj/RBXTnqCnMQ0NYvxqETMK3a+65oi+o7dXmICC0X20hT9/59I9pH9+5b3Q1wHiVAXQqWX+u7qv1DK4C2I0E7KHCDVs60=,iv:lHXcIKfzN+VihvQSjG1QKXgECE2uv3iUfIX1/50xWq4=,tag:GaASjXyij3jxYdHYpm57Vw==,type:str]
  pgp:
    - created_at: "2025-12-09T09:44:10Z"
      enc: |-
        -----BEGIN PGP MESSAGE-----

        hQIMA90tSATCInn5AQ/9Ey0nZxbZ8M31pOWGN2sw8MEfkd1wXuQSbzwHQUmciI8M
        vMKDUoTn3w6G8kC4vs5ogj6SvhURDRcUzxIKhb7Y0El37o1IAtebq9yhGqVocJNn
        4NVMPS1vcnRE60WSUiodXdI1HPdkITZr+Cjzibfu++V7EikNBW8/7HlMFsmYVivF
        8ft4sx0/U3SB7o67XM3s4TGEpT2akrLb+yp7NQlfWd8jpB5kDTT7pOqVU1p5L/I4
        Wav4/cy+jUPE/th4D7BLO7ueD6o31VFETMlpQhuIf/aM3ns90Pq8TcAAta/fhWNU
        othmbEh+C6PsTmGgEGe47uMDrOSPwhugKgCOwxNM05+un7PYXZoDP1iZ1BsZII/A
        VQiTiSsYSY/PoDGMg9QZa1sguJVmBDpqm4wjtTw3cQfXZ1snTWnyLN6kr/c6y/e1
        dV/xW1oRBIhPHBiZ8rVgPJotckZbH3DQOJcca+yjr5Pw/tMutLC8n++hNSdihvxJ
        6ccHW3jFRqg49mQGHy6su1czUCNksf/X5NicMr3sDiE/1Pzh3CvESu1Wu3QcTEuv
        6p+xeGWw3bNMqlSadpBYL+8DbcNW5bkht8dV8W6VexJY+C9CZzMuij+7v+/Z67++
        ehkHavT11vK//KXFsVr0X4vDwJwc2gRCYM+L5t9g/uLfrC467DoK+3dFbKPI4lnS
        XgGB5wudVLPWaVoNhOHm7Dsckcchpjxi1L1KUzC5xJEUWTnPCkLWKbg97+hXAszU
        8Rv6mzb64RtNIkGkcFnoMaY/HgJgDK9tCdyAyZNdifGqW5iOFTlIwpSVedWFK5U=
        =YWPh
        -----END PGP MESSAGE-----
      fp: BE155DFF5AD65EA97520D7E6B003A490455B332D
  encrypted_regex: ^(crowdsecLapiKey)$
  version: 3.10.2
