apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: crowdsec-bouncer
  namespace: staging
spec:
  plugin:
    crowdsec:
      enabled: true
      logLevel: INFO
      updateIntervalSeconds: 10
      defaultDecisionSeconds: 300
      httpTimeoutSeconds: 10
      crowdsecMode: live
      crowdsecLapiKey: ENC[AES256_GCM,data:At3Aa1GiVnASastaBknszkfCRTiktNgADmBPjZP4xWDxaXyB5TtWbrhg8A==,iv:fpP+QBFMqv3MNu+k2sd64LK5FEkvrWxsoCnsLCnFTr4=,tag:aiB5zrfWDikorrQzlZVjIg==,type:str]
      crowdsecLapiHost: crowdsec-service.crowdsec.svc.cluster.local:8080
      crowdsecLapiScheme: http
      forwardedHeadersTrustedIPs:
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
      clientTrustedIPs:
        # pods
        - 10.0.0.0/8
        # services
        - 10.96.0.0/12
      #crowdsecAppsecEnabled: true
      #crowdsecAppsecHost: crowdsec-appsec-service.crowdsec.svc.cluster.local:7422
      #crowdsecAppsecFailureBlock: false
      #crowdsecAppsecUnreachableBlock: false
sops:
  lastmodified: "2025-12-18T16:39:19Z"
  mac: ENC[AES256_GCM,data:3mN83hWFsT+IYtmAG6Gj87WqajZXERzeqM3gSlAki413rkts7kP/CC5zo5p1nanIf4eNwYKkAuSHYIy5ogn9s6/3mIBnYxqDCyVl/A2FQHIduwe7044tLIn/SA5jC6iqJc3E9va7K11eGi0JV9rjGofIu/QULveQv6KsCSw4Xd4=,iv:xVkMC4eEgah+5jFjxb/3cWhFCXVBciQrMmFuAFSRow8=,tag:jTbPCyky7hS6+4oxl2sv0Q==,type:str]
  pgp:
    - created_at: "2025-12-18T16:39:19Z"
      enc: |-
        -----BEGIN PGP MESSAGE-----

        hQIMA90tSATCInn5ARAAzef+OdK8KTxKwN3mNnV5zeM3DtDZtdb2evTLKow77ooe
        YdvlFDMfW1dDh0iaBYHjgRewh45JOPgHAMJSaDI8I+dxrtiqeqW3ZFGw9UdcUwKb
        KGmQkGikEINC9Ts3k00Tuz+oTERcOIlb4Da5OdN6FFJ/IMd07OfBL2/qH2Usjrvp
        cctdDnWEsFZ75XOLmCeeCuw3D1PGG/EsUbBNUYFyc+t3Nbb6qJcBZKPo4+8Zsgtz
        8YAlWu3Aj0cgi2k33DBx+Fjs5peWe8R8+iWdudcdCt+F7Mk9uhmod7+YCc/+WkH8
        tbQegknLhrRf0XNm7+QL6+UjhmBG29waRW4Tava9uWlvjLrH7RRPzqEVVSPZflsM
        /GP6IeaQUbckfD+B1OFXBuWYgkQv/aFnmD/Kjl3wfxZGspY0hLpBYqpfYRFvkcKr
        +liF6JJxGizJWAReOfmiD4pCKwELIBD1CswiSeeRDTpvcMA2nObpbJpVAL6hqzSx
        gvWMQ+0nDJZKGClxjCz+OywHskxfYtWUWN5vgRf/zZSY0yGIidc7k3AvNci7NKx4
        FI7oanKGoSGKuZ6z+FO+wIMbyvblN03RfXdgExG6GAjCV3b0eMS7UISx7UaMGc10
        Nd7T6U7hnk6UU/VCUGDLbGBgzoG354MFSxTReY1n+HvIcv/fCRv2RXm7jzMjKCnS
        XgH1SRxsV7qMETAyU/hEBK+2GOVHaq/DlrDQRvUeZqy6rna9nRIs7BlnJx1BBsc0
        VUsDmGCe2lSpGUbN+YuMeMJOQaIAovN0aiLF4r84F04oZgUBkY1Z46vLS6Fp77g=
        =hv/9
        -----END PGP MESSAGE-----
      fp: BE155DFF5AD65EA97520D7E6B003A490455B332D
  encrypted_regex: ^(crowdsecLapiKey)$
  version: 3.10.2
