apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: crowdsec-bouncer
  namespace: staging
spec:
  plugin:
    crowdsec:
      enabled: true
      logLevel: INFO
      updateIntervalSeconds: 10
      defaultDecisionSeconds: 300
      httpTimeoutSeconds: 10
      crowdsecMode: live
      crowdsecLapiKey: ENC[AES256_GCM,data:rz3Qnvp5sJAEYKRwtQRDzlgReFTBlbyW/NkBnC7i8CjGgOGilxjanFAtSA==,iv:UZJcC3N+1S8ui+T9FhhC+2ZNUIVJpy3ZZd6GpOaT3hg=,tag:tAHasaoq3ClOmOxz5s1GmA==,type:str]
      crowdsecLapiHost: crowdsec-service.crowdsec.svc.cluster.local:8080
      crowdsecLapiScheme: http
      forwardedHeadersTrustedIPs:
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
      clientTrustedIPs:
        # pods
        - 10.0.0.0/8
        # services
        - 10.96.0.0/12
sops:
  lastmodified: "2025-12-01T09:51:24Z"
  mac: ENC[AES256_GCM,data:zgO8Jx8EaOjF/1MPimI+zW6WWFPaPbtBOXkui7Z5VerEZcheN/e8S03hOdOF2XwdyUiReLxkX1uoshTxeFcpO6g4C9C+t+9yvPznBjaSbBUj9nXszSoQVjj697t2X6hZRMIyb/iCd9siFF6txRPxgFjREhiUAbd87l1cNc7EiL8=,iv:7Q0nLo67JKqLT873hCA++zAzleTkdIhg8y6jmrZxdIU=,tag:FVvPBNOQhRBoVYg+0tauBg==,type:str]
  pgp:
    - created_at: "2025-12-01T09:51:24Z"
      enc: |-
        -----BEGIN PGP MESSAGE-----

        hQIMA90tSATCInn5ARAAt7NhUCOP4XpvWZPKw0yOv3XLNgxcqyg5obD9oQDAfylm
        zX4FGEMXUgG28bnIQY1cjfqkg5908rFBsDKCQgWNPAmYj6FSaxoETJsEUMe316Mc
        9COBCrCjuQtKMeQDyu3F1UAaV5IXKQysCg1benpr2vycsNnM74tIPQgi4/bOnvcz
        7LQVTwYDc1mbmUi+K/UIjoLCoRzdQqr7HfU/UmFUXUJow7bGE+3cSmBty0ZWE6zv
        8bV4RaiFnU5o/WrgNX9mI0pE4sPMZ8wtdDeE7HELsVxP+3buSVZqjde2Zy3TLghh
        zECIVUsuk0UWC39eBBbZkBFFz3kEleisgVor0oUCpACq56pzDXruhjd3n1Qe+aoW
        RPCu0NYmJx/6kF1RPNNTXY6HNbta4mGXpWaesuTqWUy2wPnI2wXZ9HQk5k2eQWLv
        i6iVINAt4RgOqHkHLwxdnCVAq2Q0dS7X7bJmLX+YlYIXcQw6SOcmLdoLzlGLfRAl
        jMl3NP8yae/x4Dfk2jzRl1Qf1YZtCWSLCrjKKc9/RgSwjF6J9RNwN1A4hesDoOre
        ePqJylvOUiq2JHXA9E0M7Zhw0RZcxT/oukTV19sl3zl5Zq0FDcNWiWGU600QkwER
        SNeju/0UNhecvVBTFPnkP+E3JsXwlQIKFx6jBMqIs2yc3pyM028gur3+6aTgChzS
        XgEoRUN/e+Xb2kda2uD7Xm0azG2ryE0DhFxPURTlnlgGVSv36uPLiewxH6Gx7kvv
        6P/GkMFu2waQmThBIQ0Xe57taOedzcgBivo6eJcAt1P9X28WFQhlWEsM525lFb8=
        =NEan
        -----END PGP MESSAGE-----
      fp: BE155DFF5AD65EA97520D7E6B003A490455B332D
  encrypted_regex: ^(crowdsecLapiKey)$
  version: 3.10.2
