apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: crowdsec-bouncer
  namespace: staging
spec:
  plugin:
    crowdsec:
      enabled: true
      logLevel: INFO
      updateIntervalSeconds: 10
      defaultDecisionSeconds: 300
      httpTimeoutSeconds: 10
      crowdsecMode: live
      crowdsecLapiKey: ENC[AES256_GCM,data:F7kSezmYJmlOPzbBNFlAjTzlILHJ9ogPpPKQhzHejuuLheaJt2DeecT8sA==,iv:hvni2TVIaSTCCzDN2TxsLrmttW2lLP+1+s/qQDwZPas=,tag:29JBLqbMue9fCq9vMFDfMw==,type:str]
      crowdsecLapiHost: crowdsec-service.crowdsec.svc.cluster.local:8080
      crowdsecLapiScheme: http
      forwardedHeadersTrustedIPs:
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
      clientTrustedIPs:
        # pods
        - 10.0.0.0/8
        # services
        - 10.96.0.0/12
sops:
  lastmodified: "2025-11-26T12:40:02Z"
  mac: ENC[AES256_GCM,data:O1QZtDqTj3kCNsF0nFPjf56wJt52xC7wx04KTVv+LRUHxnpccSUm0kZx/RZhSav67HtuPW07yfLSt37hlXAmM+2LBmW76ccpVxGkHLZPET3OX0cmbajXMZoJsDhAOA9o+9e19GycyF5Qund30pMB+5plDbyPhwa7t9kBeiztjGA=,iv:xg0kCEDIhe97bcqUtfy9IJgsQ1jHJVK8Rgo7bnJZBGE=,tag:5Fx7EWlWjWGH9cK56DxKew==,type:str]
  pgp:
    - created_at: "2025-11-26T12:40:02Z"
      enc: |-
        -----BEGIN PGP MESSAGE-----

        hQIMA90tSATCInn5AQ//SX1Y7zuswuuzr+A4F19yieCJvdak0Pj9FOi49y8R2bZS
        3mH2hNTF+RXn6BuzdLKr7jwGNxsX97GYjcpIPM8EVZ/pwYZ5rWEv1vh1p9BrvAU3
        Vk203IvoRSBJ13sTBqOS1hT9Ha1DRVM347M8FMsz8NotqeUhbSWhh4GsoLowr/Rf
        9OTBsKSjz5U/iHYX7Fa+Ak+60iKKrYgNQdMl2R+emICwznUha14lO3RoNr0Zgz5/
        5stWMicrSOM1YQu6138Sx8ywYQlLQOaOz2oJQV06JlH0AJZlzYArPEOqE0v56aNn
        5gOc+6SzUbCOA1IsdL26qEoPOs/EygUOHZxeDY4xqYVXLFkFYpRP/1Yw/hZlbd34
        PxwAYSLwDW4ZD7bH+3fGNz052uTMwn6x9dE3ShIvEbEJmiZ31uVurUaMzuT51Jlt
        DtMbrdy7CyVBeLzIxryPf15iLauygVGnOTxN7H2ewSDGfic8xit9oqVjUxdymrKw
        jPziY1OsbpZ956c0T9E9gU9j1QwStiylLJKEd6+aC66HLwN9obcRAxnP0DjULE/w
        FJ0+pd3B2Tiji4brDkCrcrfN0sFtpribYk8Y139dD4tx92AVETWlRO6CNHlFfGSY
        2tVmsVgimzdqkfefi8qCXXvFgqQkSIrWGBveK/s9K84PlQlbmtv5zaLu/dX8SLfS
        XgGLkvI/ZnO+FhHj6BuKc1BmsTsAzBGLSFhgeKhXmDMKsybEbdz+SiI/h66eYQ2R
        1T8OkTWLHsn2mrQkX+pdAVRCgiADxSmRzmXkrsi5b6OwzWILIkkhmpgZfrrT9+8=
        =w/vc
        -----END PGP MESSAGE-----
      fp: BE155DFF5AD65EA97520D7E6B003A490455B332D
  encrypted_regex: ^(crowdsecLapiKey)$
  version: 3.10.2
