apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/traefik
  - crowdsec-bouncer-secret.yaml
  - crowdsec-middleware.yaml
namePrefix: staging-
namespace: staging
patches:
  - path: traefik-values-staging.yaml
    target:
      kind: HelmRelease
      name: traefik
  - path: traefik-crds-values-staging.yaml
    target:
      kind: HelmRelease
      name: traefik-crds
  - patch: |-
      - op: replace
        path: /metadata/name
        value: crowdsec-bouncer
    target:
      kind: Middleware
      name: staging-crowdsec-bouncer