apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: staging-traefik
spec:
  dependsOn:
    - name: staging-traefik-crds
  chart:
    spec:
      version: "37.3.0"
  values:
    ingressRoute:
      dashboard:
        enabled: true
    service:
      spec:
        loadBalancerIP: "130.73.131.227"
    ports:
      doip-tls1:
        port: 3567
        expose: 
          default: true
        exposePort: 3567
        protocol: TCP
      doip-tls2:
        port: 3568
        expose: 
          default: true
        exposePort: 3568
        protocol: TCP
    logs:
      general:
        level: WARN
      access:
        enabled: true
        format: common
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
    experimental:
      plugins:
        blockuseragent:
          moduleName: "github.com/agence-gaya/traefik-plugin-blockuseragent"
          version: "v0.1.7"
        fail2ban:
          moduleName: "github.com/tomMoulard/fail2ban"
          version: "v0.8.7"
        crowdsec:
          moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
          version: "v1.4.6"
    env:
      - name: CROWDSEC_BOUNCER_KEY
        valueFrom:
          secretKeyRef:
            name: staging-crowdsec-bouncer-key
            key: bouncer-key
