apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: staging-mariadb
  namespace: staging
spec:
  chart:
    spec:
      version: "0.1.40"
  values:
    replicas: 3
    galera:
      enabled: true
      config:
        reuseStorageVolume: false
        volumeClaimTemplate:
          resources:
            requests:
              storage: 300Mi
          accessModes:
            - ReadWriteOnce
      recovery:
        enabled: true
        minClusterSize: 1
        clusterMonitorInterval: 10s
        clusterHealthyTimeout: 30s
        clusterBootstrapTimeout: 10m
        podRecoveryTimeout: 5m
        podSyncTimeout: 5m
      extendedTimeouts:
        enabled: false
      replicaThreads: 1
      cacheSize: "128M"
      flowControlLimit: "16"
    database: my_wiki
    user: sqluser
    mariadb:
      config:
        innodbBufferPoolSize: "1536M"
        maxAllowedPacket: "64M"
    storage:
      size: 5Gi
    backup:
      bucket: "mardi"
      prefix: "staging/mariadb"
      endpoint: "hsm-test-09.zib.de:9001"
      schedule: "0 4 * * *"
    physicalbackup:
      bucket: "mardi"
      prefix: "staging/physicalbackup/mariadb"
      endpoint: "hsm-test-09.zib.de:9001"
      schedule: "0 5 * * *"
    resources:
      requests:
        cpu: 500m
        memory: 2Gi
      limits:
        cpu: 1000m
        memory: 3Gi
    secrets:
      wikibase: staging-wikibase-env-secrets
      importer: staging-importer-secrets
    