image:
  repository: apache/kafka
  tag: 3.7.0
storage: 20Gi
resources:
  requests:
    cpu: "250m"
    memory: "1Gi"
  limits:
    cpu: "1000m"
    memory: "1Gi"
heapOpts: "-Xmx512M -Xms512M"
secrets: "kafka-secrets"