importer:
  image:
    repository: "ghcr.io/mardi4nfdi/docker-importer"
    tag: "main"

api:
  image:
    repository: "ghcr.io/mardi4nfdi/importer-api"
    tag: "main"
  port: 80

database:
  host: "mariadb"
  name: "wikidata-importer"
  user: "importer-user"

endpoints:
  mediawiki: "mardi-wikibase/w/api.php"
  wikibase: "mardi-wikibase"
  sparql: "mardi-wikibase/sparql"

ingress:
  subdomain: "importer"