importer:
  image:
    repository: "ghcr.io/mardi4nfdi/docker-importer"
    tag: "main"
    pullPolicy: Always
  resources:
    requests:
      memory: "256Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "1000m"

api:
  image:
    repository: "ghcr.io/mardi4nfdi/importer-api"
    tag: "main"
    pullPolicy: Always
  port: 80
  gunicorn:
    workers: "2"
    threads: "2"
  database:
    poolSize: "2"
    maxOverflow: "1"
  logging:
    level: "info"
  resources:
    requests:
      memory: "256Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"

database:
  host: "mariadb"
  name: "wikidata-importer"
  user: "importer-user"

endpoints:
  mediawiki: "mardi-wikibase/w/api.php"
  wikibase: "mardi-wikibase"
  sparql: "mardi-wikibase/sparql"
  importerApi: "importer-api"

ingress:
  subdomain: "importer"