apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-mariadb-config
  namespace: {{ .Release.Namespace }}
data:
  my.cnf: |
    [mariadb]
    bind-address=*
    default_storage_engine=InnoDB
    binlog_format=row
    innodb_autoinc_lock_mode=2
    innodb_buffer_pool_size={{ .Values.mariadb.config.innodbBufferPoolSize | default "10G" }}
    max_allowed_packet={{ .Values.mariadb.config.maxAllowedPacket | default "1G" }}
    query_cache_size=0
    query_cache_type=0
    sort_buffer_size=4M
    read_rnd_buffer_size=1M
    performance_schema=ON
    key_buffer_size=24M
    innodb_log_file_size=512M
    max_connections={{ .Values.mariadb.config.maxConnections | default "200" }}
    ignore_db_dirs=lost+found
    innodb_snapshot_isolation=OFF
    innodb_flush_log_at_trx_commit=2
    
