apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/importer
  - importer-accounts.yaml
  - secrets.yaml
patches:
  - path: values-production.yaml
    target:
      kind: HelmRelease
      name: importer