apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: importer
spec:
  chart:
    spec:
      version: "0.1.8"
  values:
    database:
      host: "mariadb-primary"
    endpoints:
      mediawiki: "http://wikibase/w/api.php"
      wikibase: "http://wikibase"
      sparql: "http://wdqs:9999/sparql"


