apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: importer
spec:
  chart:
    spec:
      version: "0.1.24"
  values:
    database:
      host: "mariadb-primary"
    endpoints:
      mediawiki: "http://wikibase-apache/w/api.php"
      wikibase: "http://wikibase-apache"
      sparql: "http://wdqs:9999/bigdata/namespace/wdq/sparql"
      importerApi: "http://importer-api"
    api:
      logging:
        level: "debug"


