apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging

resources:
  - namespace.yaml
  # - elasticsearch
  - opensearch
  - mariadb
  - wikibase
  - redis
  - jobrunner
  - traefik
  - wdqs
  - quickstatements
  - importer
  - latexml
  - ffmpeg
  - s3-proxy
  # - external-services
  - maintenance
  - memcached
  - fdo
  - doip
  - qlever
  - schema-registry
  - eventgate
  - eventstreams
  - kafka
  - rdf-streaming-updater
  - change-propagation

patches:
  - target:
      kind: HelmRelease
    patch: |-
      - op: add
        path: /spec/valuesFrom
        value:
          - kind: ConfigMap
            name: staging-vars
            valuesKey: values.yaml
