apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/doip
namePrefix: staging-
patches:
  - path: values-staging.yaml
    target:
      kind: HelmRelease
      name: doip