apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: staging-opensearch
  namespace: staging
spec:
  chart:
    spec:
      version: "0.1.0"
  values:
    replicas: 1
    storage:
      size: 5Gi
    resources:
      requests:
        memory: 2Gi
        cpu: 500m
      limits:
        memory: 2Gi
        cpu: 1000m
    javaOpts: "-Xms1g -Xmx1g"
    