apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/wikibase
  - secrets-env.yaml
  - secrets-oauth.yaml
patches:
  - path: values-production.yaml
    target:
      kind: HelmRelease
      name: wikibase
  - path: blocked-ips.yaml
    target:
      kind: HelmRelease
      name: wikibase