apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wikibase
spec:
  chart:
    spec:
      version: "0.1.68"
  values:
    mediawiki:
      image:
        repository: ghcr.io/mardi4nfdi/wikibase-production
        tag: 1.45.6
      replicas: 1
      db_server: mariadb-primary:3306
      db_primary: mariadb-primary
      db_secondary: mariadb-secondary
      elasticsearch_host: elasticsearch
      redis_host: redis-master
      formulasearch_host: formulasearch
      latexml_host: latexml
      resources:
        requests:
          cpu: "2"
          memory: "4Gi"
        limits:
          cpu: "6"
          memory: "10Gi"
    varnish:
      enabled: true
    blockHeaders:
      enabled: true
    fail2ban:
      enabled: true
