{{- if .Values.ingress.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ .Values.ingress.subdomain }}.{{ .Values.global.baseDomain }}`)
      kind: Rule
      services:
        - name: {{ .Release.Name }}-ui
          namespace: {{ .Release.Namespace }}
          port: {{ .Values.frontend.port }}
  tls:
    secretName: {{ .Release.Name }}-tls
{{- end }}