apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.qlever.port }}
      targetPort: {{ .Values.qlever.port }}
  selector:
    app: {{ .Release.Name }}