apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: staging-wikibase
spec:
  chart:
    spec:
      version: "0.1.68"
  values:
    mediawiki:
      image:
        repository: ghcr.io/mardi4nfdi/wikibase-staging
        tag: latest
      replicas: 1
      db_server: staging-mariadb-primary:3306
      db_primary: staging-mariadb-primary
      db_secondary: staging-mariadb-secondary
      elasticsearch_host: staging-elasticsearch
      redis_host: staging-redis-master
      memcached_host: staging-memcached
      formulasearch_host: staging-formulasearch
      latexml_host: staging-latexml
      resources:
        requests:
          cpu: 500m
          memory: 512Mi
        limits:
          cpu: 1
          memory: 2Gi
    varnish:
      enabled: true
      fullnameOverride: "staging-varnish"
      backendHost: "staging-wikibase"    
    blockHeaders:
      enabled: false
    fail2ban:
      enabled: false
    secrets:
      mariadb: staging-mariadb-secrets