apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: staging-wikibase
spec:
  chart:
    spec:
      version: "0.1.56"
  values:
    image:
      repository: ghcr.io/mardi4nfdi/wikibase-staging
      tag: latest
    replicas: 1
    port: 80
    varnish:
      enabled: true
      fullnameOverride: "staging-varnish"
      backendHost: "staging-wikibase"
    mediawiki:
      scheme: https
      db_server: staging-mariadb-primary:3306
      db_name: my_wiki
      db_user: sqluser
      db_primary: staging-mariadb-primary
      db_secondary: staging-mariadb-secondary
      elasticsearch_host: staging-elasticsearch
      redis_host: staging-redis-master
      memcached_host: staging-memcached
      formulasearch_host: staging-formulasearch
      latexml_host: staging-latexml
    storage:
      cache:
        size: 5Gi
    resources:
      requests:
        cpu: 500m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi
    blockHeaders:
      enabled: true
    fail2ban:
      enabled: true
    secrets:
      mariadb: staging-mariadb-secrets