apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: crowdsec-bouncer
  namespace: production
spec:
  plugin:
    crowdsec:
      enabled: true
      logLevel: INFO
      updateIntervalSeconds: 10
      defaultDecisionSeconds: 300
      httpTimeoutSeconds: 10
      crowdsecMode: live
      crowdsecLapiKey: ENC[AES256_GCM,data:QxuXIDP/8FCPFTXVqxb4+4+Ia7l+66VYAyLCSdM/jKWMo0nkYPxnqblb6A==,iv:1lS0iluFReMPyTlX8m49HRldfbvGIEpUNNFTojaHiwY=,tag:TNsRAaENgTerR+2FXRcb9A==,type:str]
      crowdsecLapiHost: crowdsec-service.crowdsec.svc.cluster.local:8080
      crowdsecLapiScheme: http
      forwardedHeadersTrustedIPs:
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
      clientTrustedIPs:
        # pods
        - 10.0.0.0/8
        # services
        - 10.96.0.0/12
      crowdsecAppsecEnabled: true
      crowdsecAppsecHost: crowdsec-appsec-service.crowdsec.svc.cluster.local:7422
      crowdsecAppsecFailureBlock: false
      crowdsecAppsecUnreachableBlock: false
sops:
  lastmodified: "2025-12-09T10:15:57Z"
  mac: ENC[AES256_GCM,data:9sYhvjQucjjxh2SWTVnry37g2tcI+4xb9i+KqFzVhFGgcNVfE1Yt2rQyc5mF+XhhnapvI0NPQVs05ljPgCLTNvt6EissQjRFpqSjJ3COS3yiEPnpIR4g7HRz5kfVVUkzBdJI5dHJat8dzBBtV9CLYJwoLolNbFMNF0cRnHLHrOI=,iv:rgghe+KQIBxSBMnZCpZrA27V3E1chTilH1DTmw/dChQ=,tag:HiBXykDa845zAvpcBENLVQ==,type:str]
  pgp:
    - created_at: "2025-12-09T10:15:57Z"
      enc: |-
        -----BEGIN PGP MESSAGE-----

        hQIMA90tSATCInn5AQ//eQ1PPDYumi/sWdbsBxma3Dp85guGIPy0guXc/+leFrcP
        0wdroJIPIxiT41tcTUy0d43EN89s05hNrM0OXlcI8+tbbChNpBWqAqhvbOSWfdFj
        4adWIF/Ts9KlRKkpJ063VwaFXUv8f28b6yeX/ROEzR5E3EJYl8iaukROZeEBtv7Q
        8vGEnLBewOilyXhqN5lLJvZyaR/OlzlAue7qbmnYCmnsuryd0jQHWeMxlhIIpRv3
        WV75taqDs05fn6zlo4/xo+jwrBSi1OTBzn6wnJLxyvFJ6VNINgqlQOb/HW+QD2Tt
        LQMag9Z3sI4zzb6YjuzAbsMZ3KBxra5xtDobQqK03ccroDzAqv5EwMGrlAvXwysj
        Wd4S66y3QpfaiTE38mHrF1ndoUdYCuesxR9GdFkHb+On+BrnEpMR7zwUvyIZUCWy
        2X0nNsUTi8miGBwwQCDkDu+lLgfHFYSOp3H8trexVQG6qrO6ulDrZtoO86VkQ/Ol
        2rhZupOZlY74z1Gyjb5W6gUFsKiqQQRzKWBDMLHwoPzn7hQ4ZisDKR6Q0j1mJJKd
        Rhq78GuFF/u8ycQrVzxKsk3ONTHqigt8H9O49HXfi7Up9vR+/6P+Z7Ao2EpI0Nlo
        dW3nEt5YiJP385gIg6owEXt7Bmf5XxXP5kibGWOATfH5KelyIX1u1NUKl7/bEyTS
        XgG5GgWUgTWq5nadtxHZgw/xImWgmwwJpeP5LcZV1h5twJrve4CSCP516ZsUwQwm
        IiXCECW+ks7qXWnp2xo2t1t2tox//V2YGIEi0indhd9bi4Mb8GZMQkNUG7+C6xk=
        =FYvv
        -----END PGP MESSAGE-----
      fp: BE155DFF5AD65EA97520D7E6B003A490455B332D
  encrypted_regex: ^(crowdsecLapiKey)$
  version: 3.10.2
