apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: crowdsec-bouncer
  namespace: production
spec:
  plugin:
    crowdsec:
      enabled: true
      logLevel: INFO
      updateIntervalSeconds: 10
      defaultDecisionSeconds: 300
      httpTimeoutSeconds: 10
      crowdsecMode: live
      crowdsecLapiKey: ENC[AES256_GCM,data:5Fic/2X0q0mP224lPWeRyISwnuvarj1MCEVfXatGPSscBIVU5mGtqa4n5g==,iv:xct+0uA7i4G8ufmC9Hju9/xy17igjqoEYl96dFa5T58=,tag:0UW1Vu5nJt0ZTdd2rMsg2Q==,type:str]
      crowdsecLapiHost: crowdsec-service.crowdsec.svc.cluster.local:8080
      crowdsecLapiScheme: http
      forwardedHeadersTrustedIPs:
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
      clientTrustedIPs:
        # pods
        - 10.0.0.0/8
        # services
        - 10.96.0.0/12
sops:
  lastmodified: "2025-12-01T15:28:37Z"
  mac: ENC[AES256_GCM,data:OdCLDvybM5wJQ1J7qakBJZuI7eEUn9bQkadEa54Dz+wzGF8sp3pBp+/8y4w1kY5cE7WMCGNN5iIle3JMCrBsaQbrupZCoNDvUToKNWRvrO3vhYwCNASnQ9U17bDb/4SRj33HUYIMBx9t48dV0h7soth5sPwUGXUdOf3hHGV9H6E=,iv:iLWr2n3919U9ybCHRBsvhQYgKgJKTR9dssB/88VG7wU=,tag:QdVhO96ThVU3MQDuwMSCWA==,type:str]
  pgp:
    - created_at: "2025-12-01T15:28:37Z"
      enc: |-
        -----BEGIN PGP MESSAGE-----

        hQIMA90tSATCInn5AQ//TNmnbk7KKLONYfXk+nQPQLt3IrSdFMEEryeYtE64jAya
        63nkGUOqQiyKsepPDi8h+oH8J5Nskth4BH4y2YRPQk+AOE72+3OUG7yEdE6/YUNW
        8J6ei5zy3AxqQzzhJg2nsJaRGYSEBdBn7oVqjHnCFSZLgVVso+LJLGWZur5NIqkh
        SzT9P47oXveQ+BkC4QfH/L93ajmaLg56eLYtsad1bn0qAqUYwQTqNoK5LLN2guBx
        TvpbODoWh6OlIraF+jieDCM3kGRZpMB4aDDaMB1Ak9wQhiQntr7zFzx1c7VzDDu5
        SpQ2SshCgn2c9yxfQVazUTbojSGWML73YrnDVu7sXAuS9bePZn2aIXmmyW+v6hon
        jVkLcGucQ6lqNyeHIpUd3ECmOj/nX7un/bA0Wk9EWM8dMrb7waVzDgMTcbfVsAEh
        /Ki5OF+eklGH9l2+HGbp4jYq7yFwJNYO0yflZ4n/fO6+ZWjYDfhzuPVkazMlQPg7
        jfgYaUWsNeZ/LZ7LSAD52P1Boer58WZKDWZxSBCH1kPp1tT3SPLY94H8ZaJPLZfL
        /cYmIZT02V9IssPp+MQi2DQsmu2zKVMJJVMIpECF1g/ISL2PvEQttUy3Sa8mNLOv
        FoL6ULKcP2XBrKQjPqtvpdvdCTU6SY8n20nHErthcnHeM0JywXE66P/ZFOKEEfrS
        XgHa0P3qw7CBQYIvipZHL+RcWyKXDGa2BiVpo1N9LIbgHBEw0Zobotpk9lgFC5tW
        o4xpuRoX42ImAeyhBJg/XEn9J2mFxuIvpjjefpvmb1xofOrVl631vGkDeK8QFrg=
        =IwiB
        -----END PGP MESSAGE-----
      fp: BE155DFF5AD65EA97520D7E6B003A490455B332D
  encrypted_regex: ^(crowdsecLapiKey)$
  version: 3.10.2
