apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/traefik
  - crowdsec-middleware.yaml
patches:
  - path: traefik-values-production.yaml
    target:
      kind: HelmRelease
      name: traefik
  - path: traefik-crds-values-production.yaml
    target:
      kind: HelmRelease
      name: traefik-crds