apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  dependsOn:
    - name: traefik-crds
  chart:
    spec:
      version: "37.3.0"
  values:
    ingressRoute:
      dashboard:
        enabled: true
    service:
      spec:
        loadBalancerIP: "130.73.131.224"
    additionalArguments:
      - "--entrypoints.websecure.http.middlewares=production-crowdsec-bouncer@kubernetescrd"
    logs:
      general:
        level: WARN
      access:
        enabled: true
        format: json
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
    experimental:
      plugins:
        blockuseragent:
          moduleName: "github.com/agence-gaya/traefik-plugin-blockuseragent"
          version: "v0.1.7"
        fail2ban:
          moduleName: "github.com/tomMoulard/fail2ban"
          version: "v0.8.7"
        crowdsec:
          moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
          version: "v1.4.6"