apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: staging-wdqs
spec:
  chart:
    spec:
      version: "0.1.19"
  values:
    wdqs:
      host: staging-wdqs
      opts: "-Dorg.wikidata.query.rdf.tool.rdf.RdfRepository.timeout=3600 -Dcom.bigdata.rdf.sparql.ast.eval.AST2BOpUtility.timeout=60000"
    frontend:
      replicas: 1